header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(41, 143, 180, 0.91);

}
.logo{
    margin-left: 20px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
}
a{
    color: whitesmoke;
    margin-right: 20px;
    text-decoration: none;
}
a:hover{
    color: rgba(255, 255, 255, 0.69);
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.content_body{
    width: 400px;
}

.content_body input,select{
    width: 100%;
    height: 30px;

}

.login_btn{
    width: 100px;
    height: 30px;
    color: white;
    background-color: #142146;
    font-size: 18px;
    margin-top: 16px;
}