.container{
    display: flex;
    justify-content: space-evenly;
}

.container div{
    width: 23%;
}
input{
    width: 100%;
    height: 30px;
}
.select_inp{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.select_inp > input{
    width: 600px;
}
.select_inp > select{
    width: 100px;
    margin-left: 30px;
}

.results > input{
    background-color: whitesmoke;
}

.txt{
    font-weight: bold;
}